@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.top-container {
    background-color: #E0EBE8;
}

body {
    margin: 0;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.btn {
    position: relative;
    border-radius: 8px;
    bottom: 5px;
    width: 20rem;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to right, #11cdd4 , #11999e);
}

.btn:hover {
    background-image: linear-gradient(to right, #30e3cb , #2bc4ad);
}

h2 {
    font-family: 'Source Code Pro', monospace;
    color: #66BFBF;
}

.skill-row p,
.skill-row h3 {
    text-align: left;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}

::selection {
    background-color: aqua;
}

.gif {
    height: 15rem;
    position: relative;
}

.code-gif {
    float: left;
    margin-right: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 15px;
}

.bottom-container a {
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a {

}

.vb-gif {
    float: right;
    margin-left: 30px;
    margin-bottom: 80px;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    color: #11999E;
}

a:hover {
    color: #EAF6F6;
    text-decoration: underline;
}

a {
    color: #11999E;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    margin: 0 auto 0 auto;
    color: #66BFBF;
}

.des {
    font-size: 2.5rem;
    color: #66BFBF;
}

.top-container {
    padding-top: 100px;
    position: relative;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}