@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.top-container {
    background-color: #E0EBE8;
}

body {
    margin: 0;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    color: #66BFBF;
}

.skill-row p,
.skill-row h3 {
    text-align: left;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}

::selection {
    background-color: aqua;
}

.gif {
    height: 20rem;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    color: #11999E;
}

a {
    color: #11999E;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    margin: 0 auto 0 auto;
    color: #66BFBF;
}

.des {
    font-size: 2.5rem;
    color: #66BFBF;
}

.top-container {
    padding-top: 100px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}